# Data pipeline
entsoe-py
openmeteo-requests
requests-cache
retry-requests
duckdb
python-dotenv

# ML
lightgbm
scikit-learn
numpy
pandas
holidays

# Dashboard
streamlit==1.35.0
plotly
pytz

# Utilities
google-cloud-storage
